name: liquid_pull_to_refresh
description: A beautiful and custom refresh indicator for fluter.
version: 1.0.1
author: Ayush Agarwal <aagarwal9782@gmail.com>
homepage: https://github.com/aagarwal1012/Liquid-Pull-To-Refresh/

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: